<div class="card movie-card mt-2">
  <div class="card-body row">
    <div class="col-sm-6 col-md-4 col-lg-3 text-center mt-2">
      <ng-template #image_content>
        <img class="movie-poster" [src]="movie.poster" />
      </ng-template>
      <ng-template #no_image>
        <div class="movie-poster" [ngClass]="['no-image']"></div>
      </ng-template>
      <div *ngIf="movie.poster then image_content else no_image">
      </div>
    </div>
    <div class="col-sm-6 col-md-8 col-lg-9 mt-2">
      <div class="card-title row">
        <h3 class="col-9 movie-title">{{ movie.title }}</h3>
        <div class="col-3 text-right align-self-center">
          <span class="movie-rating">{{ movie.rating }}</span>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
      </div>
      <div class="card-text movie-description">{{ movie.description }}</div>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-end p-1">
    <button class="btn btn-secondary mr-2 recommendations" (click)="viewRecommendations()">View Recommendations</button>
    <ng-template #recommended>
      <button class="btn btn-primary btn-success recommend" (click)="recommend()">Recommend</button>
    </ng-template>
    <ng-template #unrecommended>
      <button class="btn btn-primary btn-danger unrecommend" (click)="unrecommend()">Unrecommend</button>
    </ng-template>
    <div *ngIf="movie.recommended then unrecommended else recommended"></div>
  </div>
</div>
